{% extends "my_app/base.html" %} {% block body_block %}

<div class="" style="margin-top: 15px">
  <h3>Add Notes</h3>
  {% if messages %} {% for message in messages %}
  <div
    class="callout {% if message.tags %} {{ message.tags }} {% endif %}"
    data-closable
  >
    {{ message }}
    <button
      class="close-button"
      aria-label="Dismiss alert"
      type="button"
      data-close
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} {% endif %}
  <div class="card" style="margin-top: 15px; border-radius: 5px">
    <div class="card-section">
      <form method="post">
        {% csrf_token %} {{ notes_form.as_p }}
        <button type="submit" class="button">Add</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
