{% extends "my_app/base.html" %} {% block body_block %}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell large-4 small-12">
      {% if err|length > 0 %}
      <div class="callout alert" data-closable>
        {{ err }}
        <button
          class="close-button"
          aria-label="Dismiss alert"
          type="button"
          data-close
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <div class="card" style="margin-top: 15px; border-radius: 5px">
        <div class="card-section">
          <h3>Sign-in</h3>
          <form method="post" action="{% url 'my_app:login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter username" />
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              placeholder="Enter password"
            />
            <button type="submit" class="button">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
